#root{
    margin: 0 auto;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    position: relative;
}

.home {
    position: absolute;
    right: 0px;
    up: 0px;
    display:flex;
    align-items: flex-start;
    justify-content: center;
    min-width: 80%;
    min-height: 700px;
    background-image: url("Images/Scene.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.truck{
    position: absolute;
    top: 565px;
    left: 10%;
}
